* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 2000px;
}

/* header */
.header {
    border:  1px solid black;
    height: 600px;
    width: 100%;
    background-image: url(header.jpg);
    background-size: cover;
}
.header-nav {
    height: 90px;
    width: 100%;
    /* margin: 0px 70px; */
    position: fixed;
}
.nav-content {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    color: wheat;

}
.nav-content a {
    margin-left: 60px;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.9;
    cursor: pointer;
}
.header-content-box {
    display: flex;
    margin-right: 60px;
}
.header-content-box p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    opacity: 0.9;
    cursor: pointer;
}
.header-main {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: 120px;
}
.header-main p {
    margin-bottom: 10px;
}
.header-deco {
    border: 1px solid wheat;
    margin: 0px 47%;
    margin-top: 30px;
}
.header-about {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.header-about p {
    margin-bottom: 5px;
    /* font-weight: bold; */
}
.header-more {
    text-align: center;
}
.header-more button {
    width: 130px;
    height: 60px;
    border-radius: 30px;
    background-color: wheat;
    border: none;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
}

/* about */


/* about 내정보 */
.about {
    margin: 0px 8%;
}
.about-title {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-top: 40px;
}
.about-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    height: 70px;
    /* border: 1px solid; */
}

.about-item i {
    margin-bottom: 30px;
    margin-right: 10px;
}
.about-item p:first-child {
    font-weight: bold;
}
.about-item p {
    width: 100%;
}

@media (max-width: 800px) {
    .about-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
        /* justify-content: flex-start; */
        margin-left: 10%;
    }
    .about-item {
        width: 50%;
        align-items:flex-start;
        justify-content: flex-start;
        /* margin-left: auto; */
    }
    .about-item i {
        margin-left: 40px;
    }

}
@media (max-width: 550px) {
    .about-content {
        margin-left: 0;
    }
}

/* about 이미지 */

.about-my-intro {
    /* border: 1px solid ; */
    height: 600px;
    display: flex;
    background-color: wheat;
    margin-top: 20px;
}
.about-img {
    width: 400px;
    height: 500px;
    /* border: 1px solid red; */
    margin-left: 6%;
    margin-top: 50px;
    /* border-radius: 250px; */
    background-image: url(me2.jpg);
    background-size: cover;
}
.about-intro {
    border: 1px solid;
    width: 50%;
    margin-left: 80px;
    font-size: 20px;
    height: 85%;
    margin-top: 50px;
}
.skill {
    border: 1px solid black;
    height: 500px;
}
.skill-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}